li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: #444;
}
.container{
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
.clear{
  clear: left;
}

header{
  background-color: rgba(50,65,70,1);
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: white;
  height: 52px;
}
.header-logo h1{
  float: left;
  display: inline-block;
  font-size: 19px;
  margin: 0 20px;
  line-height: 52px;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}
.header-logo a{
  color: white;
}
.header-list{
  float: left;
  margin: 0;
  padding: 0;
}
.header-list a{
  color: white;
  opacity: 0.6;
  transition: all 0.5s;
}
.header-list a:hover{
  opacity: 1;
  border-bottom: 1px solid white;
}
.header-list li{
  float: left;
  font-size: 12px;
  margin-left: 40px;
}
footer{
  border-top: 1px solid #bbb;
  padding: 30px 0;
  color: #bbb;
  text-align: center;
}
#top{
  background-image: url('top.gif');
  background-size: cover;
  text-align: center;
  color: white;
  padding: 250px 0;
}
.top-contents{
  display: none;
  opacity: 0.8;
}
#top h1{
  font-size: 55px;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}
#top p{
  font-size: 20px;
  line-height: 1em;
}
.twitter{
  display: inline-block;
  background-color: #55acee;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  line-height: 50px;
  color: white;
  font-size: 25px;
}
.twitter2{
  display: none;
}
.heading{
  text-align: center;
  padding: 40px 0;
  color: #444;
}
.heading h2{
  font-size: 30px;
}
.img{
  width: 50%;
  float: left;
  margin: 0
  padding: 0;
}
.img2{
  float: right;
  width: 50%;
  margin: 0
  padding: 0;
}
.tour2{
  margin-top: 10px;
}
.text{
  width: 43%;
  float: left;
  padding-right: 7%;
  margin: 0;
  overflow: hidden;
}
.text h3{
  padding: 0;
  margin: 0;
  font-size: 30px;

  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.text p{
  font-size: 15px;
  line-height: 2em;
}
.text2{
  width: 43%;
  float: right;
  padding-left: 7%;
  margin: 0;
  overflow: hidden;
}
.text2 h3{
  padding: 0;
  margin: 0;
  font-size: 30px;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.text2 p{
  font-size: 15px;
  line-height: 2em;
}
.caption2{
  float: left;
  margin: 10px 0;
  padding: 0;
}
.caption{
  float: right;
  margin: 10px 0;
  padding: 0;
}
.box{
  background-color: white;
  padding: 100px 50px 100px;
  margin: 0 40px 80px;
  overflow: hidden;
}
.box p{
  font-size: 15px;
}
#exhibition ul{
  margin:0;
  padding:0;
}
#exhibition li{
  line-height: 2em;
  font-size: 15px;
}
.fadein {
 opacity: 0;
 transform : rotate(1000px,1000px);
 transition : all 2s;
}

.fadein.scrollin{
 opacity: 1;
 transform: rotate(0, 0);
}
#bar{
  line-height: 52px;
  font-size: 20px;
  margin-right: 20px;
  float: right;
  display: none;
}
.responsive-menu{
  background-color: rgb(0,0,0);
  opacity: 0.8;
  position: fixed;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  display: none;
}
.responsive-menu a{
  margin: 0;
  padding: 0;
  color: white;
  display: block;
  width: 100%;
}
.responsive-menu ul{
  margin: 0;
  padding: 0;
}
.responsive-menu li{
  padding: 18px;
  border-bottom: 1px solid #888;
  margin: 0;
  font-size: 12px;
}
